@import url(./reset.css);


.container {
  width: min(100% - 30px, 1080px);
  margin: auto;
}

:root {
  --app-dark-bg: #1a1d28;
  --app-green: #33ab4e;
  --app-purple: #833cff;
  --app-orange: #ff833c;
  --app-red: #ff3c57;
  --app-red-hover: #ff2846;
  --app-orange-text: #ff8e1c;
  --app-light-gray: #f9f9f9;
  --app-white: #fff;   
}

body {
    background-color:#0b2137;
}

/*-------------------Header---------------------*/

header {
    background-color:#1a3550;
    margin: 15;
    height: 60px;
}

header .flex {
    display: flex;
    justify-content: space-between;
}

.title h1 {
    font-size: 29px;
    text-transform: uppercase;
    color:var(--app-white);
    font-weight: 600;
    letter-spacing: 0.2px;
    line-height: 56px;
    text-align:right ;
    font-family: 'Roboto', sans-serif;
    text-decoration: none;
}

nav ul {
    list-style: none;
    font-size: 0;
    font-family: 'Roboto', sans-serif;
}

nav ul li {
    display: inline;
    line-height: 56px;
}

nav ul li a {
    color:var(--app-white);
    font-size: 22px;
    font-weight: 500;
    text-decoration: none;
    letter-spacing: 0.2px;
    transition: color 0.25s ease-in-out;
}

nav ul li a:hover {
    color: #0659ac;
}

nav ul li + li {
    margin-left: 20px;
}

/*------------------Section-01----------------*/

.controls {
    display: flex;
    flex-wrap: wrap;
    margin-top: 23px;
}

#movieInput {
    color: var(--app-white);
    height: 55px;
    width: 810px;
    padding: 10px 10px;
    margin-top: 50px;
    margin-left: 40px;
    border-radius: 5px;
    background-color:#3e4653;
    font-size: 19px;
    border: 1px solid var(--app-white);
    transition: all 0.4s ease-in-out;
}

#cityInput {
    color: var(--app-white);
    height: 55px;
    width: 370px;
    padding: 10px 10px;
    margin-top: 50px;
    margin-left: 40px;
    border-radius: 5px;
    background-color:#3e4653;
    font-size: 19px;
    border: 1px solid var(--app-white);
    transition: all 0.4s ease-in-out;
}

#btn {
    width: 170px;
    height: 52px;
    border-radius: 50px;
    font-size: 22px;
    color: #fff;
    font-weight: 600;
    box-shadow: rgba(0, 0, 0, 0.2);
    transition: all 0.25s ease-in-out;
    cursor: pointer;
    background-color:#0d63e8;
    margin-top: 50px;
    margin-left: 40px;
}

#btn:hover {
    background-color:#0944a0;
}

/*----------------section-02------------------*/


h2 {
    color: white;
    margin-top: 30px;
    margin-left: 40px;
}

section {
    margin-top: 20px;
    padding-bottom: 30px;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(5, 19%);
    grid-template-rows: repeat(2);
    column-gap: 11px;
    row-gap: 38px;
}
  
div h3 {
    color: var(--app-white);
   margin-top: 10px;
   margin-left: 85px;
   letter-spacing: 0.5px;
   font-weight: 700;

}
  
div img {
    height: 20rem;
    width: 20rem;
    margin-left: 15px;
    cursor: pointer;
}

div img:hover {
    transform: scale(0.9); /* decreases the size of the image by 10% */
    transition: transform 0.7s ease-in-out;
}

.movies-results {
    position: absolute;
    background-color: #3e4653;
    border-radius: 3px;
    margin-top: 5px;
    margin-left: 40px;
    width: 400px;
}

.movies-results a {
    line-height: 39px;
    color: #000;
    padding: 0px 11px;
    display: block;
    color: #fff;
    font-size: bold;
}

.movies-results a:hover {
    background-color: #1a3550;
    border: 1px solid #000;
}


.cities-results {
    position: absolute;
    margin-left: 890px;
    background-color: #3e4653;
    border-radius: 5px;
    margin-top: 1px;
    width: 370px;
   
}

.cities-results a {
    line-height: 39px;
    color: #000;
    padding: 0px 11px;
    display: block;
    font-size: bold;
    color: #fff;
    
}

.cities-results a:hover {
    background-color: #1a3550;
    border: 1px solid #000;

}

